# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Config files
config/calculator-456910-4c150120dcc7.json
config/credentials.json

# Response cache
response_cache/

# Logs
*.log
*.log.*

# Node.js
node_modules/
package-lock.json